### Ignored folders ###
FEAR-16 - Mainboard-backups/
Gerber/
#######################

### Ignored files (wildcard) ###
*.csv
*.xml
*.log
*.kicad_prl
*.txt
*.tmp
################################

### Ignored files (specific) ###
fp-info-cache
fp-lib-table
sym-lib-table
################################
